/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar-custom {
    background-color: #74C0FC;
}

.navbar-custom .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}

.nav-item .nav-link {
    color: white;
}

.container {
max-width: 800px;
margin: 0 auto;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
margin-bottom: 20px;
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
}

.card-title {
font-size: 1.2rem;
margin-bottom: 0.5rem;
}

.card-text {
color: #555;
}

.center-form .btn {
display: inline-block;
padding: 8px 12px;
margin-top: 10px;
background-color: #74C0FC;
border-color: #74C0FC;
color: #fff;
text-decoration: none;
border-radius: 4px;
border: none;
}

.btn:hover {
    background-color: #5aa1d4; /* 暗い色 */
    border-color: #5aa1d4;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #74C0FC;
    border-color: #74C0FC;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    }

.alert {
padding: 10px;
margin-bottom: 10px;
border: 1px solid transparent;
border-radius: 4px;
}

.alert-success {
background-color: #d4edda;
border-color: #c3e6cb;
color: #155724;
}

.alert-danger {
background-color: #f8d7da;
border-color: #f5c6cb;
color: #721c24;
}
